@font-face {
    font-family: "Lato-Regular"; 
    src: url("../font/Lato-Regular.ttf"); 
}
@font-face {
    font-family: "MyriadPro-Regular"; 
    src: url("../font/MyriadPro-Regular.ttf"); 
}

/*
Default Styles
*/
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    border: 0 none;
}
body{
    font-size: 16px;
    line-height: 30px;
    background-color: #aaa;
    font-family: "Lato-Regular", sans-serif;
    margin: 0 auto 40px;
    width: 800px;
}
ul {
    list-style: none;
}

/*
Header Styles
*/
.header {
    width: 100%;
    background-color: #323232;
    color: rgba(190, 190, 190, 255);
    padding: 50px 70px 0;
}
.header h1 {
    font-family: "MyriadPro-Regular", sans-serif;
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid rgba(190, 190, 190, 255);
    padding-bottom: 40px;
    margin: 0px;
}

/*
Main Styles
*/
.main {
    width: 100%;
    background-color: #323232;
    color: rgba(190, 190, 190, 255);
    padding: 20px 70px 60px;
}

/*
About Me Styles
*/
.about-me .photo {
    width: 130px;
    height: 130px;
    background: url("../image/my_photo.jpg") no-repeat transparent;
    background-size: contain;
    float: right;
}
.about-me h2 {
    font-size: 24px;
    margin: 20px 0;
}
.about-me p{
    margin: 10px 0 0;
}
.about-me ul {
    padding-left: 25px;
    margin: 0 0 10px;
}

